main {
  margin-top: calc(var(--navbar-height) * -1);
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
